.page {
  background: url("../images/laptop_bg.jpg");
  background-size: cover;
  height: 93vh;
  margin-top: -30px;
  color: white;
  display: flex;
  align-content: center;
  flex-direction: column;

  &__title {
    margin-top: 35vh;
  }

  .about__content {
    font-size: 22px;
  }
}
